@import '../../../include.module.scss';

.start {
    padding: 20px;
    height: 100%;
    &__body {
        font-size: 25px;
        display: flex;
        flex-direction: column;
        height: 100%;
        .error {
            color: red;
            font-weight: 700;
            @media (max-width: 600px) {
                font-size: 18px;
                text-align: center;
            }
        }
        .choose {
            padding-top: 20px;
            display: flex;
            @media (max-width: 600px) {
                flex-direction: column;
            }
            span {
                flex: 0 0 50%;
                text-align: right;
                @media (max-width: 600px) {
                    flex: 1 1 50%;
                    text-align: center;
                    margin: 0px 0px 10px 0px;
                }
            }
            &__prefixes {
                flex: 0 0 50%;
                @media (max-width: 600px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
            &__body {
                background: $secondary;
                padding: 20px;
                width: min-content;
                border-radius: 10px;
                margin-left: 20px;
                @media (max-width: 600px) {
                    margin: 0 auto;
                }
                ul {
                    & > *:not(:last-child) {
                        margin-bottom: 14px;
                    }
                    li {
                        display: flex;
                        cursor: pointer;
                        img {
                            height: 29px;
                            width: 29px;
                            align-items: flex-start;
                            margin-right: 10px;
                        }
                        span {
                            text-align: left;
                            margin: 0;
                        }
                    }
                }
            }
        }
        .first {
            margin-top: 20px;
            flex-grow: 1;
            .amount {
                padding: 20px 0 20px 0;
                display: flex;
                align-items: center;
                @media (max-width: 600px) {
                    flex-direction: column;
                    padding: 10px 0 20px 0;
                }
                span {
                    flex: 0 0 50%;
                    text-align: right;
                    @media (max-width: 600px) {
                        text-align: center;
                    }
                }
                .input {
                    margin-left: 20px;
                    padding: 10px;
                    border-radius: 10px;
                    background: $secondary;
                    display: flex;
                    align-items: center;
                    @media (max-width: 600px) {
                        margin-top: 10px;
                        margin-left: 0px;
                    }
                    input {
                        font-size: inherit;
                        text-align: right;
                        width: 40px;
                        border: none;
                        // background: rgba($color: $primary, $alpha: .8);
                        background: $secondary;
                    }
                }
            }
        }
        .ready {
            background: $secondary;
            font-size: 50px;
            color: #000;
            padding: 50px;
            display: block;
            margin: 0 auto 0 auto;
            width: 500px;
            border-radius: 20px;
            flex-grow: 0;
            text-align: center;
            transition-duration: 0.2s;
            text-decoration: none;
            // &:hover {
            //     background: #ff8b85;
            // }
            @media (max-width: 600px) {
                width: 100%;
                max-windth: 500px;
                font-size: 30px;
                padding: 30px;
            }
            &__none {
                transition-duration: 0.2s;
                background: rgba($color: $secondary, $alpha: 0.4);
                text-decoration: none;
                font-size: 50px;
                color: #000;
                padding: 50px;
                display: block;
                margin: 0 auto;
                width: 500px;
                border-radius: 20px;
                flex-grow: 0;
                text-align: center;
                @media (max-width: 600px) {
                    width: 100%;
                    padding: 30px;
                    margin-top: 20px;
                    max-windth: 500px;
                    font-size: 30px;
                }
            }
        }
    }
}
