@import './../../include.module.scss';

.container {
    background: $primary;
    height: 100%;
    border-radius: 20px;
    box-shadow: $sh;
}
.homepage {
    padding: 20px;
    height: 100%;
    h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 600;
        @media (max-width: 370px){
            font-size: 30px;
        }
    }
    &__body {
        margin-top: 40px;
        & > *:not(:last-child) {
            margin-bottom: 20px;
        }
        p {
            font-weight: 400;
            font-size: 20px;
        }
    }
}
.git {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
}
a {
    color: rgb(208, 20, 20);
    &:hover {
        text-decoration: underline;
    }
}
